/vendor/
/node_modules/
/public/build/
/public/hot
.env
.env.backup
.env.local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
.phpunit.result.cache
.phpunit.cache
coverage.xml
phpunit.xml.bak
composer.phar
/composer
storage/app/fcm-service-account.json
